.panel {
  background: var(--color-bg-variant);
  border: 1px solid var(--color-primary-variant);
  border-radius: 0.4rem;
  padding: var(--gutter);
  margin-bottom: var(--gutter);
}

.panel-title {
  color: var(--color-primary);
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.panel-content {
  color: var(--color-white);
}
